:root {
    --chip-height: 32px;
    --chip-bg-color: rgb(222, 222, 222);
    --chip-bg-active-color: rgb(214, 214, 214);
    --text-color-primary: rgba(0, 0, 0, 0.87);
    --chip-font-size: 13px;
    --shadow-key-penumbra-opacity: rgba(0, 0, 0, .14);
    --shadow-key-umbra-opacity: rgba(0, 0, 0, .2);
    --shadow-ambient-shadow-opacity: rgba(0, 0, 0, .12);
}

.chip {
    height: var(--chip-height);
    line-height: var(--chip-height);
    padding: 0 12px;
    border: 0;
    border-radius: calc(var(--chip-height) / 2);
    background-color: var(--chip-bg-color);
    display: inline-block;
    color: var(--text-color-primary);
    margin: 2px 0;
    font-size: 0;
    white-space: nowrap;
    &:focus {
        outline: 0;
        box-shadow: 0 2px 2px 0 var(--shadow-key-penumbra-opacity), 0 3px 1px -2px var(--shadow-key-umbra-opacity), 0 1px 5px 0 var(--shadow-ambient-shadow-opacity);
    }
    &:active {
        background-color: var(--chip-bg-active-color);
    }
    &.hasContact {
        padding-left: 0;
    }
    &.deletable {
        padding-right: 4px;
    }
}

.chip>* {
    font-size: var(--chip-font-size);
    vertical-align: middle;
    display: inline-block;
}

.contact{
    height: var(--chip-height);
    width: var(--chip-height);
    border-radius: calc(var(--chip-height) / 2);
    vertical-align: middle;
    margin-right: 8px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}

.action {
    height: 24px;
    width: 24px;
    background: transparent;
    opacity: 0.54;
    cursor: pointer;
    text-align: center;
    padding: 0;
    margin: 0 0 0 4px;
    font-size: var(--chip-font-size);
    text-decoration: none;
    color: var(--text-color-primary);
    border: none;
    outline: none;
    overflow: hidden;
    &>img {
        width: 24px;
        line-height: 1;
        letter-spacing: normal;
    }
}