<div id="docs">

    <h2>介绍：</h2>
    <p>mock测试就是在测试过程中，对于某些不容易构造或者不容易获取的对象，用一个虚拟的对象来创建以便测试的测试方法。</p>
    <h2>现阶段开发流程的问题：</h2>
    <strong>项目启动：</strong>
    <ol>
        <li>前后端需求评审。</li>
        <li>测试提供测试用例，然后进行评审。</li>
        <li>后端和前端各自进行开发。</li>
        <li>进行联调。</li>
    </ol>
    <p>主要时间在前后端开发的时间，其次在于联调时间，其中，比较坑的问题出现了：</p>
    <ol>
        <li>前端同学开发进度大于后端的同事。</li>
        <li>后端同事为了自己方便修改了接口、接口返回数据、接口数据格式。</li>
        <li>后端服务部署问题，不能提供服务。</li>
    </ol>
    <p>等一系列问题，那前端就只能干瞪眼了，我不知道除了‘<em>等服务，等接口，等接口数据</em>’还能做什么？？？ 所以，就会出现一系列‘扯皮’的交流方式。
    </p>
    <h2>mock能做什么？</h2>
    <p>mock系统，虽然不能制止‘<em>扯皮</em>’出现，起码能减少’<em>扯皮</em>’的问题出现，主要减少前后端联调的时间，解决前端‘<em>干瞪眼</em>‘的问题。</p>
    <h2>使用步骤：</h2>
    <p>前提假设已经拥有mock账户，如果没有的话请访问：<a href="http://10.152.16.9:3000/mock/management/" target="_blank">http://10.152.16.9:3000/mock/management/</a>进行注册。</p>

    <strong>起步：</strong>
    <ol>
        <li>页面中点击api管理，会看到《开发数据设置》的按钮，点击会出现以下管理页面。</li>
        <li><img src="./../../static/css/img/1.jpeg" /></li>
        <li>鼠标滑过最后修改时间，出现《添加接口》按钮，出现以下弹窗 。</li>
        <li> <img src="./../../static/css/img/2.jpeg" /> </li>
        <li><img src="./../../static/css/img/3.jpeg" /></li>
    </ol>
    <strong>到此为止访问次接口，就能拿到你想要的数据了。</strong>
    <strong>当然，你以为这就完了吗，当然不是，生成数据还可以进行变形，写入正则表达式，请看以下情况：</strong>
    <ol>
        <li><img src="./../../static/css/img/4.jpeg" /></li>
        <li><img src="./../../static/css/img/5.jpeg" /></li>
    </ol>
    <strong>如果你喜欢正则表达式，那你有福了，但是，不熟悉<em>正则表达式</em>的小伙伴也有福了，可以愉快的进行数据联调，当然，最终要的是，可以在这里<em>学习、练习正则表达式</em>，何乐而不为呢？</strong>

</div>