<div id="login">
    <div class="auth-wrapper">
        <div class="auth-box">
            <div>
                <div class="auth-box__col">
                    <div class="auth-box__brand">
                        <a href="{{navLinks.home.href}}" class="auth-box__brand__logo">
                            <p class="auth-box__brand__logo__name">AMock</p>
                            <p class="auth-box__brand__logo__des">一个简单的MOCK平台</p>
                        </a>
                    </div>
                </div>
                <div class="auth-box__col">
                    <form novalidate="" class="Form_120drhm">
                        <div class="FormField" for="name">
                            <label for="name" class="FormLabel">用户名</label>
                            <input type="text" name="name" value="" class="FormInput">
                        </div>
                        <div class="FormField" for="password">
                            <label for="password" class="FormLabel">密码</label>
                            <input type="password" name="password" value="" class="FormInput">
                        </div>
                        <button type="submit" class="btn btn-primary">登录</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/signin.js"></script>